@import 'colors.scss';

.auth__form {
    max-width: 430px;
    padding: 25px 35px;
    border: 1px solid $color-font-2;

    @media(max-width: 560px) {
        padding: 17px 25px;
        margin: 0 17px;
    }

}

.auth__form__title {
    width: 100%;
    padding-bottom: 10px;

    color: $color-font-1;

    border-bottom: 1px solid $color-font-2;
}

.auth__form__help {
    padding: 15px 0;

    border-bottom: 1px solid $color-font-2;
}

.auth__form__help__item {

    font-size: 16px;
    color: #000;

    & + & {
        margin-top: 15px;
    }

    & a {
        color: $color-font-1;
    }
}

.auth__form__inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 42px 0 20px;

    @media(max-width: 560px) {
        padding: 20px 0 5px;
    }
}

.auth__form__inputs__item {
    width: 85%;
    padding: 8px 25px;

    background-color: transparent;

    font-size: 18px;
    font-family: 'Lora', serif;
    color: $color-font-1;

    border: 1px solid $color-font-1;
    border-radius: 40px;

    & + & {
        margin-top: 15px;
    }

    &:focus {
        outline: none;
    }

    @media(max-width: 560px) {
        width: 100%;
    }
}

.auth__button {
    max-width: 128px;
    width: 100%;
    height: 35px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 25px;

    font-size: 18px;
    font-family: 'Lora', serif;
    color: $color-font-1;

    background-color: transparent;

    border: 1px solid $color-font-1;
    border-radius: 60px;

    cursor: pointer;
    transition: all .1s linear;

    &:hover {
        color: $color-font-3;
        background-color: $color-font-1;
    }

}

.auth__errors {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
}

.auth__error {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: 'Lora', serif;
    color: $color-font-1;
}
