@import 'colors.scss';

.container__filer {
    display: flex;
    justify-content: end;
    height: 110px;
    align-items: center;

    @media(max-width: 770px) {
        padding-bottom: 50px;
    }
}

.container__filer__box {
    position: relative;
    width: 270px;
    height: 35px;
    border: 1px solid $color-font-2;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: all .2s linear;
    cursor: pointer;
}

.container__filer__box__plate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.container__filer__box__item {
    width: 100%;
    padding: 5px 0 5px 20px;
    color: $color-font-1;
    transition: all .3s linear;

    &-active {
        border-top: 1px solid $color-font-2;
        border-bottom: 1px solid $color-font-2;
    }
}

.container__filer__box__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: $color-font-1 transparent transparent transparent;

    &-active {
        border-width: 5px 10px 5px 0;
        border-color: transparent $color-font-1 transparent transparent;
    }
}

.container__departments {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(max-width: 990px) {
        justify-content: center;
    }

    @media(max-width: 770px) {
        justify-content: center;
    }
}

.container__departments__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 370px;
    width: 100%;
    height: 200px;

    background: linear-gradient(135deg, rgba(111, 111, 111, 0) 0%, rgba(64, 63, 63, 0) 100%);

    border: 2px solid #8C8C8C;
    border-radius: 7px;
    padding: 10px;
    margin: 50px 0;
    align-items: start;
    cursor: pointer;
    box-shadow: -10px -12px 25px -6px transparent, 14px 12px 30px -9px transparent;
    //transition: all .3s linear;

    @media(max-width: 990px) {
        margin: 50px 10px;
    }

    @media(max-width: 770px) {
        margin: 0;
    }

    @media(max-width: 560px) {
        height: 160px;
    }

    & + & {
        @media(max-width: 770px) {
            margin-top: 50px;
        }
    }


    &:hover {

        background: linear-gradient(135deg, #6F6F6F 0%, #403F3F 100%);
        box-shadow: -10px -12px 25px -6px rgba(108, 108, 108, 0.56), 14px 12px 30px -9px rgba(65, 65, 65, 0.74);
    }

    &:hover .container__departments__item__title {
        color: white;
    }

    &:hover .container__departments__item__subtitle {
        color: #c7c7c7;
    }

    &:hover .container__departments__item__phone {
        color: #8d8d8d;
    }

    &:hover .container__departments__item__address {
        color: #dedede;
    }
}

.container__departments__item__form {
    display: none;
}

.container__departments__item__text {
    width: 100%;
}

.container__departments__item__title {
    width: 100%;
    text-align: center;
    color: #7A7A7A;
    font-family: 'Lato', sans-serif;
    font-size: 37px;
    font-weight: 500;

    @media(max-width: 560px) {
        font-size: 29px;
    }
}

.container__departments__item__subtitle {
    width: 100%;
    text-align: center;
    color: $color-font-1;
    font-size: 22px;
    font-weight: 400;

    @media(max-width: 560px) {
        font-size: 17px;
    }
}

.container__departments__item__info {
    position: absolute;
    bottom: 10px;
}

.container__departments__item__phone {
    font-family: 'Lato', sans-serif;
    color: $color-font-2;
    font-size: 16px;

    @media(max-width: 560px) {
        font-size: 14px;
    }
}

.container__departments__item__address {
    font-family: 'Lato', sans-serif;
    color: $color-font-1;
    font-size: 18px;

    @media(max-width: 560px) {
        font-size: 14px;
    }
}
